<header>
    <nav class="navbar fixed-top header" id="navegacion">
        <div class="container-fluid text-center bg-white d-flex justify-content-center">
            <div class="row" id="idlogos">
                <div class="col-4">
                    <img src="https://img.freepik.com/vector-gratis/diseno-logotipo-juguetes-ninos_29937-4737.jpg?size=626&ext=jpg" class="imagenlogo">
                </div>

                <div class="col-4 primarycolor text-white">
                    CEMACO
                </div>


                <div class="col-4">
                    <img src=" https://img.freepik.com/vector-gratis/diseno-logotipo-juguetes-ninos_29937-4738.jpg?size=626&ext=jpg" class="imagenlogo">

                </div>
            </div>
        </div>

        <div class="subemnusegundo container-fluid primarycolor ">
            <div class="container py-3">

                <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="menuresponsive ">
                        <div class="p-2 text-white" id="titulo1"><strong>Cemaco</strong></div>
                        <div class="p-2  ocultartext" id="titulo2"><strong><h3>C <i class="fa fa-bars" aria-hidden="true"></i></h3></strong></div>
                    </div>
                    <div class="p-2 d-flex  align-content-end flex-grow-1 mx-0  mx-lg-5" id="buscador">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control inputsearch" placeholder="Busca...">
                            <span class="input-group-text busquedaboton  mx-2" id="busqueda"><i class="fa fa-search" ></i></span>
                        </div>
                    </div>

                    <div class="p-2 responsiveicons">
                        <a><i class="fa fa-user-circle bd-highlight fa-lg mx-1 secondarycolor mx-2 " id="usericonlogin" (click)="modalLogin()" aria-hidden="true"></i></a>
                        <i class="fa fa-heart bd-highlight fa-lg mx-1 secondarycolor mx-2 " aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart bd-highlight fa-lg mx-1 secondarycolor mx-2 " aria-hidden="true"></i>
                    </div>

                </div>
            </div>
        </div>


        <div class="container-fluid  departamentos primarycolor text-white" id="menuopciones">
            <div class="container">
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight"><a href="#">Departamentos</a></div>
                    <div class="p-2 bd-highlight">
                        <ul class="submenu3">
                            <li class="mx-lg-5">Revistas</li>
                            <li class="mx-lg-5">Bodas</li>
                            <li class="responsiveclass">Tiendas</li>
                            <li class="responsiveclass">Puntos</li>
                            <li>Más+</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>
