<header>
    <nav class="navbar fixed-top">
        <div class="container-fluid text-center bg-white d-flex justify-content-center">
            <div class="row">
                <div class="col-4">
                    logo1
                </div>

                <div class="col-4 primarycolor text-white">
                    CEMACO
                </div>


                <div class="col-4">
                    Logo3
                </div>
            </div>
        </div>

        <div class="subemnusegundo container-fluid primarycolor">
            <div class="container py-3">

                <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div class="p-2 text-white"><strong>CEMACO</strong></div>


                    <div class="p-2 d-flex  align-content-end flex-grow-1 mx-0  mx-lg-5">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control inputsearch" placeholder="Busca...">
                            <span class="input-group-text busquedaboton  mx-2" id="busqueda"><i class="fa fa-search" ></i></span>
                        </div>
                    </div>

                    <div class="p-2 responsiveicons">
                        <i class="fa fa-user-circle bd-highlight fa-lg mx-1 secondarycolor mx-2" (click)="modalLogin()" aria-hidden="true"></i>
                        <i class="fa fa-heart bd-highlight fa-lg mx-1 secondarycolor mx-2" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart bd-highlight fa-lg mx-1 secondarycolor mx-2" aria-hidden="true"></i>
                    </div>

                </div>
            </div>
        </div>


        <div class="container-fluid  departamentos primarycolor text-white">
            <div class="container">
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight"><a href="#">Departamentos</a></div>
                    <div class="p-2 bd-highlight">
                        <ul class="submenu3">
                            <li class="mx-lg-5">Revistas</li>
                            <li class="mx-lg-5">Bodas</li>
                            <li class="responsiveclass">Tiendas</li>
                            <li class="responsiveclass">Puntos</li>
                            <li>Más+</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>