<footer class="primarycolor text-white footer">
    <div class="container footerdetalle p-5">

        <div class="d-flex flex-column flex-lg-row justify-content-between ">
            <div class="d-flex flex-column footeropcions">
                <h4 class="py-1">Servicios</h4>
                <a href="#" class=" bd-highlight">Instalaciones</a>
                <a href="#" class=" bd-highlight">Tiendas</a>
                <a href="#" class=" bd-highlight">Privilegio</a>
                <a href="#" class=" bd-highlight">Servicio a Empresas</a>
                <a href="#" class=" bd-highlight">Bodegas</a>
            </div>

            <div class="d-flex flex-column footeropcions">
                <h4 class="pY-1">Venta en línea</h4>
                <a href="#" class="opcionesfooter">Retira en tienda</a>
                <a href="#" class="opcionesfooter">Métodos de pago</a>
                <a href="#" class="opcionesfooter">Preguntas frecuentes</a>
                <a href="#" class="opcionesfooter">Privacidad y seguridad</a>
                <a href="#" class="opcionesfooter">Términos y condiciones</a>
            </div>

            <div class="d-flex flex-column footeropcions">
                <h4 class="py-1 ">Nuestros Valores</h4>
                <a href="#" class="opcionesfooter">Sostenibilidad</a>
                <a href="#" class="opcionesfooter">Garantía Total</a>
                <a href="#" class="opcionesfooter">Certificación Sistema B</a>

            </div>
            <div class="d-flex flex-column footeropcions">
                <h4 class="py-1">Grupo Cemaco</h4>
                <a href="#" class="opcionesfooter">Únete a nuestro equipo</a>
                <a href="#" class="opcionesfooter">Sobre nosotros</a>
                <a href="#" class="opcionesfooter">Deseas ser proveedor</a>
                <a href="#" class="opcionesfooter">Juguetón</a>
                <a href="#" class="opcionesfooter">Bebé Juguetón</a>
            </div>


            <div class="py-5 py-lg-0  flex-lg-column footeropcions responsiveinfomobil d-md-none">
                <div class="row text-center">

                    <div class="col-6">
                        <a href="#" class="opcionesfooter"> <i class="fa fa-whatsapp mx-3 iconosresponsive mx-lg-2" aria-hidden="true"></i></a>
                        <p> Compra por WhatsApp</p>
                    </div>

                    <div class="col-6">
                        <a href="#" class="opcionesfooter "><i class="fa fa-phone mx-3 iconosresponsive mx-lg-2" aria-hidden="true"></i></a>
                        <p>(502) 0000-0000</p>
                    </div>

                    <div class="col-6">
                        <a href="#" class="opcionesfooter"> <i class="fa fa-envelope-o iconosresponsive mx-3 mx-lg-2" aria-hidden="true"></i></a>
                        <p>ejemplo@gmail.com</p>
                    </div>

                    <div class="col-6">
                        <a href="#" class="opcionesfooter"> <i class="fa fa-commenting-o mx-3 iconosresponsive mx-lg-2" aria-hidden="true"></i></a>
                        <p>Chat en línea</p>
                    </div>

                </div>
            </div>



            <div class="d-flex py-5 py-lg-0  flex-lg-column footeropcions responsiveinfo ">
                <h4 class="py-5 py-lg-1 d-none d-lg-block">Mantente conectado</h4>
                <a href="#" class="opcionesfooter"> <i class="fa fa-whatsapp mx-3   mx-lg-2" aria-hidden="true"></i> Compra por WhatsApp</a>
                <a href="#" class="opcionesfooter "><i class="fa fa-phone mx-3   mx-lg-2" aria-hidden="true"></i> (502) 0000-0000</a>
                <a href="#" class="opcionesfooter"> <i class="fa fa-envelope-o   mx-3 mx-lg-2" aria-hidden="true"></i>ejemplo@gmail.com</a>
                <a href="#" class="opcionesfooter"> <i class="fa fa-commenting-o  mx-3  mx-lg-2" aria-hidden="true"></i>Chat en línea</a>
            </div>


        </div>

        <div class="d-flex justify-content-center justify-content-lg-end   ">
            <h2 class="mx-2"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></h2>
            <h2 class="mx-2"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></h2>
            <h2 class="mx-2"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></h2>
            <h2 class="mx-2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></h2>
            <h2 class="mx-2"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></h2>
        </div>
    </div>

    <div class="tercaryfooter">
        <div class="container">
            <div class="d-flex flex-row bd-highlight mb-3 mx-3 py-2 containerterminos">

                <div class="p-2 bd-highlight">Politica y Privacidad</div>
                <div class="p-2 bd-highlight p-2 flex-grow-1">Terminos y Condiciones</div>
                <div class="p-2 bd-highlight mx-5">VICOM</div>
            </div>



        </div>
    </div>
</footer>
