<div class="fondo-modal-imagen animated fadIn fast" [class.oculto]="modalSerivce.ocultarModal">

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block; padding-right: 17px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Bienvenido Iniciar session</h4>
                    <button type="button" (click)="cerrarModal()" class="close modalclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <app-form-ingreso *ngIf="login" (llamadaFormularioRegistro)="recibiendoEvento(false)"></app-form-ingreso>
                    <app-registro *ngIf="!login" (llamadaFormularioLogin)="recibiendoEvento(true)"></app-registro>
                    <div>

                    </div>
                </div>
            </div>


        </div>
