<div id="Productos">

    <div class="container py-5">
        <div *ngIf="!cargando" class="alert alert-primary text-center" role="alert">
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
            <p>Cargando....</p>
        </div>

    </div>

    <div class="container py-2 py-sm-5 animate__animated animate__fadeIn" *ngIf="cargando">
        <a href="/dashboard/producto/crear" class="btn btn-primary">Crear Producto +</a>
        <hr>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Sku</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">inventario</th>
                            <th scope="col">Registrado</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <td>{{ producto.SKU }}</td>
                            <td>
                                <div class="imagentamaño">
                                    <img [src]="producto.imagen! | imagen" alt="producto" class="img-thumbnail imgproducto">
                                </div>
                            </td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.inventario }}</td>
                            <td>{{ producto.created_at | date :'short' }}</td>
                            <td>
                                <a [routerLink]="['/dashboard','producto',producto.id]" class="btn btn-warning mx-2"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a *ngIf="loginservice.usuario.rol==='administrador'" (click)="eliminarProductos(producto)" class="btn btn-danger mx-2"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>


</div>